@import url("jquery.mobile.structure-1.1.0-rc.1.css");
@import url("jquery.mobile-1.1.0-rc.1.css");

.awesome, .awesome:visited {
	background: #222 url(../image/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 0px;
    margin: 10px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
    width: 75%;
}

.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }

   /* Size */
.small.awesome, .small.awesome:visited 			{ font-size: 11px; }
   .awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

   /* Color */
.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }
.silver.awesome, .silver.awesome:visited		{ background-color: #EFEFEF; }
.silver.awesome:hover						    { background-color: #FBFBFB; }


ul li.type-hands-on {
    border-left: 5px orangered solid;
}

ul li.type-java {
    border-left: 5px maroon solid;
}

ul li.type-university {
    border-left: 5px lightgreen solid;
}

ul li.type-tools {
    border-left: 5px lightblue solid;
}

ul li.type-bof {
    border-left: 5px purple solid;
}

ul li.type-conference {
    border-left: 5px cadetblue solid;
}

ul li.type-quickie {
    border-left: 5px firebrick solid;
}

.page-navbar {
    background: #ffffff;
    padding: 10px;
    text-shadow: none;
}

.page-navbar-left {
    float: left;
}

.page-navbar-title {
    color: #552255;
}

.page-navbar-right {
    float: right;
}

.page {
     min-height:100%;
}

.xebia-logo {
    max-width: 320px;
    width: 100%;
}

.devoxx-logo {
    width: 80%;
    max-width: 320px;
}

.follow-us-twitter-logo {
    max-width: 200px;
    width: 100%;
}

.menu-btn-text {
    color: #663366;
    padding: 4px;
    margin: 0px;
}

img.menu-img {
    margin-top: 2px;
    padding: 0px;
    height: 24px;
}

.ui-mobile {
  background-color: #FAFAFA;
}

.ui-mobile #home {
  background: url(../image/jqm-sitebg.png) top center repeat-x;
}

.ui-mobile #about {

}

.ui-mobile #home-header {
  padding: 10px 0 10px 0;
  text-align: center;
}

.ui-mobile #home-content-dates {
    width: 100%;
}

.ui-mobile #home-content-other {
    width: 100%;
}

.ui-mobile #menu-content-devoxx-paris {
    width: 100%;
}

.ui-mobile #menu-content-other {
    width: 100%;
}

.ui-mobile #menu-content-devoxx-contest {
    width: 100%;
}
#about-link-buttons {
    width: 80%;
    max-width: 320px;
}

.ui-mobile #home-header h1 {
  margin: 0 0 0px; 
}

.ui-mobile #home-header p {
  margin: 0;
}

.ui-mobile #about {
  background: #FAFAFA;
}

.ui-mobile #about-header {
  padding: 55px 15px 0;
  padding-bottom: 30px;
  text-align: center;

}

.ui-mobile #about-header h1 {
  margin: 0 0 0px;
}

.ui-mobile #about-header p {
  margin: 0;
}

.ui-mobile .home-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}


.home-xebia-img {
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

.home-footer-img {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

home-footer-img:hover {
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

.ui-mobile #version {
  text-indent: -99999px; 
  background: url(../image/jqm-version.png) top right no-repeat; 
  width: 119px; 
  height: 122px; 
  overflow: hidden; 
  position: absolute; 
  top: 0; 
  right: 0; 
}

h2 {
  margin-top:1.5em; 
}

p code { 
  font-size:1.2em;
  font-weight:bold;
} 

dt {
  font-weight: bold;
  margin: 2em 0 .5em;
}

dt code, dd code {
  font-size:1.3em;
  line-height:150%;
}

.multiline {
    white-space: normal;
}


.calendar{
	margin:0px 10px 10px 0px;
	padding-top:5px;
	float:left;
	width:60px;
	background:#ededef;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
	background: -moz-linear-gradient(top,  #ededef,  #ccc);
	font:bold 30px/40px Arial Black, Arial, Helvetica, sans-serif;
	text-align:center;
	color:#000;
	text-shadow:#fff 0 1px 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position:relative;
	-moz-box-shadow:0 1px 1px #888;
	-webkit-box-shadow:0 1px 1px #888;
	box-shadow:0 1px 1px #888;
}

.calendar em {
	display:block;
	font:normal bold 12px/20px Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:#00365a 0 -1px 0;
	background:#55175A;
	background:-webkit-gradient(linear, left top, left bottom, from(#814273), to(#55175A));
	background:-moz-linear-gradient(top,  #814273,  #55175A);
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	border-top:1px solid #00365a;
}

.calendar:before, .calendar:after{
	content:'';
	float:left;
	position:absolute;
	top:5px;
	width:8px;
	height:8px;
	background:#111;
	z-index:1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:0 1px 1px #fff;
	-webkit-box-shadow:0 1px 1px #fff;
	box-shadow:0 1px 1px #fff;
}

.calendar:before {
    left:8px;
}
.calendar:after {
    right:8px;
}

.calendar em:before, .calendar em:after{
	content:'';
	float:left;
	position:absolute;
	top:-5px;
	width:4px;
	height:14px;
	background:#dadada;
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa));
	background:-moz-linear-gradient(top,  #f1f1f1,  #aaa);
	z-index:2;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.calendar em:before {
    left:10px;
}

.calendar em:after {
    right:10px;
}

div.calendar-item {
    width: 60px;
    height: 66px;

    border: solid #c0c0c0 1px;

    padding: 20px 20px 20px 20px;

    background: #f6f6f6;
   	background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ededed));
    background: -webkit-linear-gradient(top,  #fafafa,  #ededed);
    background: -moz-linear-gradient(top,  #fafafa,  #ededed);
    background: -o-linear-gradient(top,  #fafafa,  #ededed);
    background: -ms-linear-gradient(top,  #fafafa,  #ededed);
    background: linear-gradient(top,  #fafafa,  #ededed);


    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 1px 1px 2px #bbb;
    -moz-box-shadow: 1px 1px 2px #bbb;
    -o-box-shadow: 1px 1px 2px #bbb;
    -ms-box-shadow: 1px 1px 2px #bbb;
    box-shadow: 1px 1px 2px #bbb;

   	cursor: pointer;
}

a.calendar-item {
    text-decoration: none;
}

div.calendar-item:hover {
    border: solid #c0c0c0 1px;

    background: #e0e0e0;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#dddddd));
   	background: -webkit-linear-gradient(top,  #f8f8f8,  #dddddd);
    background: -moz-linear-gradient(top,  #f8f8f8,  #dddddd);
    background: -o-linear-gradient(top,  #f8f8f8,  #dddddd);
    background: -ms-linear-gradient(top,  #f8f8f8,  #dddddd);
    background: linear-gradient(top,  #f8f8f8,  #dddddd);
}

div.calendar-item:active {
    border: solid #b0b0b0 1px;

    background: #d0d0d0;
   	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#e0e0e0));
    background: -webkit-linear-gradient(top,  #cccccc,  #e0e0e0);
    background: -moz-linear-gradient(top,  #cccccc,  #e0e0e0);
    background: -o-linear-gradient(top,  #cccccc,  #e0e0e0);
    background: -ms-linear-gradient(top,  #cccccc,  #e0e0e0);
    background: linear-gradient(top,  #cccccc,  #e0e0e0);
}

div.calendar-items {
    margin-left: auto;
    margin-right: auto;
    height: 130px;
}

input:required:invalid, input:focus:invalid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC');
  background-position: right top;
  background-repeat: no-repeat;
  color: red;
}

input:required:valid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=');
  background-position: right top;
  background-repeat: no-repeat;
}