@import url("jquery.mobile.structure-1.1.0-rc.1.css");
@import url("jquery.mobile-1.1.0-rc.1.css");

    #home-content, #presentation-content, #speaker-content, #tracks-content, #presentation-content {
    padding: 15px;
}

.ui-li-count { text-overflow: clip; }

div.ui-bar-a a.ui-btn span.ui-btn-inner {
 padding-right: 3px;
}

h3.tag-box {
    margin: 0 10px 0 10px;
    height: 22px;
}

.awesome, .awesome:visited {
    background: #292929 url(../image/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 2px 7px 2px 7px;
    margin: 0 0 0 3px;
    color: #fff;
    text-decoration: none;
    font-style: italic;

    vertical-align: middle;

    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;

    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-size: 11px;
}

.aside {
    width: 70px;
}

.aside-room {
    width: 72px;
    padding: 2px 5px 1px 5px;
}

.aside-time-start-end {
    width: 70px;
    padding: 2px 5px 1px 5px;
}

.aside-time {
    width: 30px;
}

.aside-skill {
    width: 70px;
}

.clickable.awesome:hover { background-color: #0f0f0f; color: #fff; }
.clickable.awesome:active { top: 1px; }

.MOBILE.awesome, .MOBILE.awesome:visited { background-color: #719409; }
.CLOUD_BIG_DATA_NOSQL.awesome, .CLOUD_BIG_DATA_NOSQL.awesome:visited { background-color: #ffc21d; }
.STARTUP__INNOVATION.awesome, .STARTUP__INNOVATION.awesome:visited { background-color: #741aab; }
.WEB_HTML5.awesome, .WEB_HTML5.awesome:visited { background-color: #7cb2bd; }
.LANGAGES_ALTERNATIFS.awesome, .LANGAGES_ALTERNATIFS.awesome:visited { background-color: #cf040e; }
.FUTUREDEVOXX.awesome, .FUTUREDEVOXX.awesome:visited { background-color: #767676; }
.JAVA_SE_JAVA_EE.awesome, .JAVA_SE_JAVA_EE.awesome:visited { background-color: #ff5c00; }
.AGILITE_DEVOPS.awesome, .AGILITE_DEVOPS.awesome:visited { background-color: #1a6b9c; }

.OTHER_ROOM.awesome, .OTHER_ROOM.awesome:visited { background-color: #1b70ff; }
.SEINE.awesome, .SEINE.awesome:visited { background-color: #c7ff0d; }
.SEINE_A.awesome, .SEINE_A.awesome:visited { background-color: #719409; }
.SEINE_B.awesome, .SEINE_B.awesome:visited { background-color: #1a6b9c; }
.SEINE_C.awesome, .SEINE_C.awesome:visited { background-color: #cf040e; }
.MDAVIS.awesome, .MDAVIS.awesome:visited { background-color: #5fb6ff; }
.MILES_DEVIS.awesome, .MILES_DEVIS.awesome:visited { background-color: #5fb6ff; }
.MILES_DAVIS_A.awesome, .MILES_DAVIS_A.awesome:visited { background-color: #61002f; }
.MDAVIS_A.awesome, .MDAVIS_A.awesome:visited { background-color: #61002f; }
.MILES_DAVIS_B.awesome, .MILES_DAVIS_B.awesome:visited { background-color: #ffc21d; }
.MDAVIS_B.awesome, .MDAVIS_B.awesome:visited { background-color: #ffc21d; }
.MILES_DAVIS_C.awesome, .MILES_DAVIS_C.awesome:visited { background-color: #9c835f; }
.MDAVIS_C.awesome, .MDAVIS_C.awesome:visited { background-color: #9c835f; }
.DUKE_ELLIGTON.awesome, .DUKE_ELLIGTON.awesome:visited { background-color: #467d6a; }
.DUKE_ELLINGTONCODESTORY.awesome, .DUKE_ELLINGTONCODESTORY.awesome:visited { background-color: #467d6a; }
.ELLA_FITZGERALD.awesome, .ELLA_FITZGERALD.awesome:visited { background-color: #ff5c00; }
.ELLA_FITZGERALD_AB.awesome, .ELLA_FITZGERALD_AB.awesome:visited { background-color: #767676; }
.EFITZGERALD_AB.awesome, .EFITZGERALD_AB.awesome:visited { background-color: #767676; }
.ESPACE_DEXPOSITION.awesome, .ESPACE_DEXPOSITION.awesome:visited { background-color: #8922df; }
.LOUIS_ARMSTRONG_CD.awesome, .LOUIS_ARMSTRONG_CD.awesome:visited { background-color: #bd58a9; }
.LARMSTRONG_CD.awesome, .LARMSTRONG_CD.awesome:visited { background-color: #bd58a9; }
.AUDITORIUM.awesome, .AUDITORIUM.awesome:visited { background-color: #ffa41e; }
.AUDITORIUM.awesome, .AUDITORIUM.awesome:visited { background-color: #ffa41e; }
.FOYER_BAS.awesome, .FOYER_BAS.awesome:visited { background-color: #c0475a; }
.LABO.awesome, .LABO.awesome:visited { background-color: #9cc091AC54BF; }

ul li.room-OTHER_ROOM { border-left: 5px #1b70ff solid; }
ul li.room-SEINE { border-left: 5px #c7ff0d solid; }
ul li.room-SEINE_A { border-left: 5px #719409 solid; }
ul li.room-SEINE_B { border-left: 5px #1a6b9c solid; }
ul li.room-SEINE_C { border-left: 5px #cf040e solid; }
ul li.room-MDAVIS { border-left: 5px #5fb6ff solid; }
ul li.room-MILES_DAVIS { border-left: 5px #5fb6ff solid }
ul li.room-MDAVIS_A { border-left: 5px #61002f solid; }
ul li.room-MILES_DAVIS_A { border-left: 5px #61002f solid; }
ul li.room-MDAVIS_B { border-left: 5px #ffc21d solid; }
ul li.room-MILES_DAVIS_B { border-left: 5px #ffc21d solid; }
ul li.room-MDAVIS_C { border-left: 5px #9c835f solid; }
ul li.room-MILES_DAVIS_C { border-left: 5px #9c835f solid; }
ul li.room-DUKE_ELLIGTON { border-left: 5px #467d6a solid; }
ul li.room-DUKE_ELLINGTONCODESTORY { border-left: 5px #467d6a solid; }
ul li.room-ELLA_FITZGERALD { border-left: 5px #ff5c00 solid; }
ul li.room-ELLA_FITZGERALD_AB { border-left: 5px #767676 solid; }
ul li.room-EFITZGERALD_AB { border-left: 5px #767676 solid; }
ul li.room-ESPACE_DEXPOSITION { border-left: 5px #8922df solid }
ul li.room-LOUIS_ARMSTRONG_AB { border-left: 5px #7cb2bd solid }
ul li.room-LARMSTRONG_AB { border-left: 5px #7cb2bd solid }
ul li.room-LOUIS_ARMSTRONG_CD { border-left: 5px #bd58a9 solid }
ul li.room-LARMSTRONG_CD { border-left: 5px #bd58a9 solid }
ul li.room-AUDITORIUM { border-left: 5px #ffa41e solid; }
ul li.room-FOYER_BAS { border-left: 5px #c0475a solid; }
ul li.room-LABO { border-left: 5px #9cc091 solid; }

.HANDS_ON_LABS.awesome, .HANDS_ON_LABS.awesome:visited { background-color: #741aab; }
.AUTRES_FORMATS_DE_CONFERENCE.awesome, .AUTRES_FORMATS_DE_CONFERENCE.awesome:visited { background-color: #719409; }
.KEYNOTE.awesome, .KEYNOTE.awesome:visited { background-color: #ff5c00; }
.UNIVERSITY.awesome, .UNIVERSITY.awesome:visited { background-color: #cf040e; }
.TOOLS-IN-ACTION.awesome, .TOOLS-IN-ACTION.awesome:visited { background-color: #2488cc; }
.BOF_BIRD_OF_A_FEATHER.awesome, .BOF_BIRD_OF_A_FEATHER.awesome:visited { background-color: #ac54bf; }
.CONFERENCE.awesome, .CONFERENCE.awesome:visited { background-color: #ff9a00; }
.QUICKIE.awesome, .QUICKIE.awesome:visited { background-color: #467d6a; }

.silver.awesome, .silver.awesome:visited { background-color: #606060; }

.favorite.awesome, .favorite.awesome:visited { background-color: #ffa000; }
.favorite.awesome:hover { background-color: #ff8e00; }

ul li.type-HANDS_ON_LABS { border-left: 5px #741aab solid; }
ul li.type-AUTRES_FORMATS_DE_CONFERENCE { border-left: 5px #719409 solid; }
ul li.type-KEYNOTE { border-left: 5px #ff5c00 solid; }
ul li.type-UNIVERSITY { border-left: 5px #cf040e solid; }
ul li.type-TOOLS-IN-ACTION { border-left: 5px #2488cc solid; }
ul li.type-BOF_BIRD_OF_A_FEATHER { border-left: 5px #ac54bf solid; }
ul li.type-CONFERENCE { border-left: 5px #ff9a00 solid; }
ul li.type-QUICKIE { border-left: 5px #467d6a solid; }


.page-navbar {
    background: #ffffff;
    padding: 10px;
}

.page-navbar-left {
    float: left;
}

.page-navbar-title {
    color: #552255;
}

.page-navbar-right {
    float: right;
}

.page {
    min-height:100%;
}

.xebia-logo {
    max-width: 320px;
}

.devoxx-logo {
    max-width: 320px;
}

.follow-us-twitter-logo {
    max-width: 200px;
    width: 100%;
}

.menu-btn-text {
    color: #663366;
    padding: 4px;
    margin: 0px;
}

img.menu-img {
    margin-top: 2px;
    padding: 0px;
    height: 24px;
}

.ui-mobile {
  background-color: #FAFAFA;
}

.ui-mobile #home {
  background: url(../image/jqm-sitebg.png) top center repeat-x;
}

.ui-mobile #about {

}

.ui-mobile #home-header {
  padding: 10px 0 10px 0;
  text-align: center;
}

.ui-mobile #home-content-dates {
    width: 100%;
}

.ui-mobile #home-content-other {
    width: 100%;
}

.ui-mobile #menu-content-devoxx-paris {
    width: 100%;
}

.ui-mobile #menu-content-other {
    width: 100%;
}

.ui-mobile #menu-content-devoxx-contest {
    width: 100%;
}
#about-link-buttons {
    width: 80%;
    max-width: 320px;
}

.ui-mobile #home-header h1 {
  margin: 0 0 0px; 
}

.ui-mobile #home-header p {
  margin: 0;
}

.ui-mobile #about {
  background: #FAFAFA;
}

.ui-mobile #about-header {
  padding: 55px 15px 0;
  padding-bottom: 30px;
  text-align: center;

}

.ui-mobile #about-header h1 {
  margin: 0 0 0px;
}

.ui-mobile #about-header p {
  margin: 0;
}

.ui-mobile .home-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}


.home-xebia-img {
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

.home-footer-img {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.home-footer-img:hover {
    opacity:0.7;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

.twitter-header-img {
    opacity:0.8;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.twitter-header-img:hover {
    opacity:0.8;
    filter:alph a(opacity=60); /* For IE8 and earlier */
}

h2 {
  margin-top:1.5em;
}

p code { 
  font-size:1.2em;
  font-weight:bold;
} 

dt {
  font-weight: bold;
  margin: 2em 0 .5em;
}

dt code, dd code {
  font-size:1.3em;
  line-height:150%;
}

.multiline {
    white-space: normal;
}

.synchronize-description {
    border: 1px #C0C0C0 solid;
    margin: 0;
    padding: 0 10px 0 10px;
    font-size: 0.75em;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;

    background: #FCFCFC;
   	background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#F0F0F0));
   	background: -moz-linear-gradient(top,  #FCFCFC,  #F0F0F0);
}

.contest-description {
    border: 1px #C0C0C0 solid;
    margin: 0;
    padding: 10px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;

    background: #FCFCFC;
   	background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#F0F0F0));
   	background: -moz-linear-gradient(top,  #FCFCFC,  #F0F0F0);
}

input:required:invalid, input:focus:invalid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC');
  background-position: right top;
  background-repeat: no-repeat;
  color: red;
}

input:required:valid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=');
  background-position: right top;
  background-repeat: no-repeat;
}



