<?xml version="1.0" encoding="UTF-8"?>
<widget id="fr.xebia.devoxx.2013" version="1.1.6" versionCode="13"
        xmlns="http://www.w3.org/ns/widgets"
	    xmlns:gap="http://phonegap.com/ns/1.0">

	<name>Devoxx 2013</name>

	<description>
		Devoxx mobile version provided by Xebia
	</description>

    <content src="target/index.html"/>

	<author href="http://blog.xebia.fr" email="akinsella@xebia.fr">
		Alexis Kinsella
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
	</gap:platforms>

    <!-- the default attribute can also be used -->
    <icon src="image/icons/icon-default.png" default="true" />

    <!-- specifies the icon to be displayed when hovered over (on BlackBerry) -->
    <!-- <icon src="icons/icon-hover.png" hover="true" /> -->

    <icon src="image/icons/icon-market-512.png" width="512" height="512"/>


    <!-- iOS requires specific dimensions for icons; classic iPhone screens, Retina
        displays, and iPad screens respectively -->
    <icon src="image/icons/icon-iphone-toolbar-20.png" width="20" height="20"/>
    <icon src="image/icons/icon-iphone-toolbar-40.png" width="40" height="40"/>
    <icon src="image/icons/icon-iphone-tabbar-30.png" width="30" height="30"/>
    <icon src="image/icons/icon-iphone-tabbar-60.png" width="60" height="60"/>

    <icon src="image/icons/icon-iphone-57.png" width="57" height="57"/>
    <icon src="image/icons/icon-iphone-retina-114.png" width="114" height="114"/>

    <icon src="image/icons/icon-ipad-spotlight-48.png" width="48" height="48"/>
    <icon src="image/icons/icon-ipad-72.png" width="72" height="72"/>

    <icon src="image/icons/icon-iphone-settings-29.png" width="29" height="29"/>
    <icon src="image/icons/icon-iphone-settings-retina-58.png" width="58" height="58"/>


    <!-- Android requires specific dimensions; ldpi, mdpi, and hdpi respectively -->
    <icon src="image/icons/icon-android-36.png" width="36" height="36"/>
    <icon src="image/icons/icon-android-48.png" width="48" height="48"/>
    <icon src="image/icons/icon-android-72.png" width="72" height="72"/>
    <icon src="image/icons/icon-android-96.png" width="96" height="96"/>

    <icon src="image/icons/icon-webos-64.png" width="64" height="64"/>

    <icon src="image/icons/icon-blackberry-55.png" width="55" height="55"/>
    <icon src="image/icons/icon-blackberry-90.png" width="90" height="90"/>

    <!--
    <icon src="image/icons/icon-windows-48.png" width="48" height="48"/>
    <icon src="image/icons/icon-windows-small-62.png" width="62" height="62"/>
    <icon src="image/icons/icon-windows-large-173.png" width="173" height="173"/>
    <icon src="image/icons/icon-windows-pc-200.png" width="200" height="200"/>
    -->


    <!-- if a single splash screen is specified it will be used for all platforms.
        Multiple splash screens are recommended for iOS -->
    <!-- iOS requires specific dimensions for different devices; classic iPhone
      screens, Retina displays, and iPad screens -->
    <gap:splash src="splashes/default-480x762.png" />

    <gap:splash src="splashes/android-portrait-480x762.png" width="480" height="762"/>
    <!-- <gap:splash src="splashes/android-portrait-480x800.png" width="480" height="800"/> -->
    <!-- <gap:splash src="splashes/android-landscape-762x480.png" width="762" height="480"/> -->
    <gap:splash src="splashes/iphone-portrait.png" width="320" height="480"/>
    <gap:splash src="splashes/iphone-portrait-retina.png" width="640" height="960"/>
    <gap:splash src="splashes/ipad-portrait.png" width="768" height="1004"/>
    <!-- <gap:splash src="splashes/ipad-portrait-retina.png" width="1536" height="2008"/> -->
    <!-- <gap:splash src="splashes/ipad-landscape.png" width="1024" height="748"/> -->
    <!-- <gap:splash src="splashes/ipad-landscape-retina.png" width="2048" height="1496"/> -->

	<!-- <feature name="http://api.phonegap.com/1.0/geolocation"/> -->
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/file"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
    <preference name="phonegap-version" value="1.5.0" />
    <preference name="fullscreen" value="false" />
    <preference name="target-device" value="universal" />
    <preference name="orientation" value="portrait" />

</widget>
